/* основной цвет текста  #434455  */
/* вторичный цвет текста  #2E2F42 */
/* белый  #FFFFFF */
/* белый2 (подвал) logo  #F4F4FD */
/* белый2 (подвал) text  #E7E9FC   */
/* акцент #4D5AE5   */

/* цвет фона   #FFFFFF */

/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

:root {
    --slate: #434455;
    --navy-blue: #2e2f42;
    --iris: #4d5ae5;
    --activ-btn-color: #404bbf;
    --white: #ffffff;
    --cloud: #f4f4fd;
    --cornflower: #e7e9fc;
    --light-slate: #8e8f99;
    --green: #31d0aa;

    --modal-color: #fcfcfc;
    --light-slate: #8e8f99;

    --transition-time: 250ms;
    --cub-bez: cubic-bezier(0.4, 0, 0.2, 1);
    --transition-type: var(--transition-time) var(--cub-bez);
}

body {
    background-color: var(--white);
    color: var(--slate);
    font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
p {
    margin: 0;
}

.img {
    display: block;
    max-width: 100%;
    height: auto;
}

.logo,
.site-nav .link {
    color: var(--navy-blue);
    text-decoration: none;

    display: inline-block;
    padding-bottom: 24px;
    padding-top: 24px;
}

.container {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 767px) {
    .site-nav,
    .contacts {
        display: none;
    }
}

@media screen and (min-width: 480px) {
    .container {
        width: 428px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1152px;
    }
}

.list {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.list-gap {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.list-gap + .list-gap {
    margin-top: 72px;
}

.item {
    background-color: var(--white);
}

.hide-header {
    font-size: 0;
}

.header {
    background: var(--white);
    border-bottom: 1px solid rgba(46, 47, 66, 0.2);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header .logo {
    text-transform: uppercase;

    font-size: 18px;
    font-family: "Raleway";
    font-weight: 800;
    letter-spacing: 0.03em;
    color: var(--navy-blue);
    line-height: 1.33;

    transition: color var(--transition-type);
}

.logo-web {
    color: var(--iris);
}

.mobile-menu-open {
    border: none;
    margin: 0;
    padding: 0;
    line-height: 0;

    background-color: transparent;
}

.mobile-menu-open .icon-close {
    display: none;
}

.mobile-menu-open.is-open .icon-close {
    display: block;
}

.mobile-menu-open.is-open .icon-hamburger {
    display: none;
}

/* @media screen and (max-width: 767px) {
    .hidden-mb{
        display: none;
    }

    .header-flex{
        display: flex;
        justify-content: space-between;
    }
} */

/* .close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cornflower);
    border: 1px solid rgba(0, 0, 0, 0.1);

    width: 24px;
    height: 24px;
    border-radius: 50%;

    cursor: pointer;

    transition: box-shadow var(--transition-type), background-color var(--transition-type);
} */

@media screen and (min-width: 768px) {
    .mobile-menu-open {
        display: none;
    }
}

/* header */

.header-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*   mobile menu   */

.mobile-menu {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    background-color: white;
    z-index: 1000;
}

.mobile-menu.is-open {
    display: block;
}

.mobile-menu-container {
    position: relative;

    padding-top: 80px;
    padding-left: 40px;
}

.mobile-menu-close-btn {
    position: absolute;
    top: 24px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cornflower);
    border: 1px solid rgba(0, 0, 0, 0.1);

    width: 24px;
    height: 24px;
    border-radius: 50%;

    cursor: pointer;
}

.mobile-site-nav .link {
    text-decoration: none;
    color: var(--navy-blue);
    font-weight: 700;
    font-size: 36px;
    line-height: calc(10 / 9);
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.mobile-site-nav .link:active {
    color: var(--activ-btn-color);
}

.mobile-site-nav li + li {
    margin-top: 40px;
}

.mobile-contacts {
    margin-top: 284px;
}

.mobile-contacts .link[href="tel:+11(000)111-11-11"] {
    text-decoration: none;
    font-weight: 600;
    font-size: 36px;
    color: var(--slate);
    line-height: calc(10 / 9);
}

.mobile-contacts .link[href="mailto:info@devstudio.com"] {
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    color: var(--slate);
    line-height: calc(10 / 9);
}

.mobile-contacts .link:active {
    color: var(--activ-btn-color);
}

.mobile-contacts li + li {
    margin-top: 40px;
}

.mobile-menu .social-list {
    display: flex;
    max-width: 328px;
    justify-content: space-between;

    margin-top: 48px;
}

.mobile-menu .social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: var(--iris);
    border-radius: 50%;

    transition: background-color var(--transition-type);
}

.mobile-menu .social-link:active {
    background-color: var(--green);
}

.mobile-menu .social-icon {
    fill: var(--cloud);
}

/*=============== hero ===============*/

.hero {
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text {
    color: var(--white);
    text-align: center;
    /* width: 50%; */
    /* margin-left: auto;
    margin-right: auto; */

    text-transform: capitalize;
}

.hero-button {
    display: block;

    color: var(--white);
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    font-family: inherit;
    font-weight: 500;
    line-height: calc(24 / 16);
    letter-spacing: 0.04em;

    padding: 16px 32px;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 48px; */

    transition: box-shadow var(--transition-type);
}

.hero-button,
.hero-button:hover,
.hero-button:focus {
    background-color: var(--iris);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.hero-button:active {
    background-color: var(--activ-btn-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.features-title {
    text-transform: capitalize;
}

/*================ Our Team ===================*/

.team.section {
    padding-top: 96px;
    padding-bottom: 128px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.card-content {
    margin-left: auto;
    margin-right: auto;
}

.team .container {
    padding: 0;
}

.team-title {
    text-align: center;
    margin-bottom: 72px;
}

.team-employee {
    text-align: center;
    margin-top: 32px;
}

.team-job {
    text-align: center;
    margin-top: 8px;
}

.social-list {
    display: flex;
    justify-content: space-between;
    max-width: 232px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
}

.social-icon {
    fill: var(--cloud);
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: var(--iris);
    border-radius: 50%;

    transition: background-color var(--transition-type);
}
container .social-link:hover,
.social-link:focus {
    background-color: var(--green);
}

/* ==================== customers ======================= */

.customers {
    margin-top: 96px;
}

.customers-title {
    text-align: center;
    margin-bottom: 72px;
}

.customers-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 72px;
}

.customers-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88px;
    flex-basis: calc((100% - 16px) / 2);
}

.customers-link {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--light-slate);
    width: 100%;
    height: 100%;

    border: 1px solid var(--light-slate);
    border-radius: 4px;

    transition: fill var(--transition-type), border-color var(--transition-type);
}

/*================ mobile styles ===============*/

@media screen and (min-width: 320px) {
    .social-link {
        width: 40px;
        height: 40px;
    }
}

@media screen and (max-width: 767px) {
    .hero .container {
        padding: 0;
    }

    .hero {
        background-image: linear-gradient(to right, rgba(46, 47, 66, 0.8), rgba(46, 47, 66, 0.8)),
            url(../images/mobile-Dark-bg.jpg);

        padding-top: 112px;
        padding-bottom: 112px;
        padding-left: 54px;
        padding-right: 54px;
    }

    .hero-text {
        max-width: 368px;
        font-weight: 700;
        text-align: center;
        font-size: 36px;
        line-height: calc(10 / 9);
        letter-spacing: 0.02em;
        margin-bottom: 72px;
    }

    .features-list .item + .item {
        margin-top: 72px;
    }

    .customers .container {
        width: 100%;
        max-width: 428px;
        padding-left: 16px;
        padding-right: 16px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 479px) and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(to right, #2e2f42b3, #2e2f42b3), url(../images/mobile-Dark-bg@2.jpg);
    }
}

@media screen and (max-width: 1199px) {
    .features-svg,
    .product {
        display: none;
    }

    .features-title {
        text-align: center;
        font-weight: 700;
        font-size: 36px;
        line-height: calc(10 / 9);
        letter-spacing: 0.02em;
        margin-bottom: 8px;
    }

    .features-text {
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

    .features.section {
        padding-top: 96px;
        padding-bottom: 96px;
    }
}

/*=================== features ======================*/
